body {
  height: auto;
}

h1 {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 50px;
  line-height: 44px;
  font-weight: 300;
  text-align: left;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  margin-bottom: 30px;
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}

h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

h4 {
  display: inline-block;
  margin: 0px 20px 10px;
  font-family: Merriweather, serif;
  color: #adafb3;
  font-size: 12px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: none;
}

h5 {
  margin-top: 15px;
  margin-bottom: 7px;
  float: left;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  text-align: left;
  letter-spacing: 0px;
  text-transform: uppercase;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
  font-family: Lato, sans-serif;
  color: #969799;
  font-size: 13px;
  line-height: 21px;
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
  text-indent: 0px;
  text-transform: none;
}

a {
  color: #3898ec;
  text-decoration: none;
}

.button {
  display: inline-block;
  margin-bottom: 0px;
  padding: 15px 35px;
  border: 1px solid #fff;
  border-radius: 0px;
  box-shadow: none;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover {
  background-color: hsla(0, 0%, 100%, .19);
  box-shadow: none;
}

.button.textbar {
  position: static;
  margin-top: 0px;
  background-color: #f05123;
  text-align: left;
}

.button.textbar:hover {
  border-color: #fff;
  background-color: #828282;
  color: #fff;
}

.button.textbar._2 {
  margin-top: 90px;
  border: 1px solid #d4d8d9;
  background-color: #fff;
  box-shadow: none;
  -webkit-transition: background-color 700ms ease;
  transition: background-color 700ms ease;
  color: #adafb3;
  text-align: center;
}

.button.textbar._2:hover {
  background-color: #cfcfcf;
  color: #fff;
}

.button.submit {
  width: 100%;
  margin-top: 20px;
}

.button.hollow {
  margin-top: 80px;
  border: 1px solid #adafb3;
  background-color: transparent;
  box-shadow: none;
  color: #adafb3;
}

.button.hollow:hover {
  background-color: #adafb3;
  box-shadow: none;
  color: #fff;
}

.hero-section {
  position: relative;
  height: 550px;
  background-image: -webkit-linear-gradient(270deg, transparent 32%, rgba(0, 0, 0, .5) 40%, rgba(0, 0, 0, .42) 48%, transparent), url('../images/cityscape-jhb3.jpg');
  background-image: linear-gradient(180deg, transparent 32%, rgba(0, 0, 0, .5) 40%, rgba(0, 0, 0, .42) 48%, transparent), url('../images/cityscape-jhb3.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.hero-section.portfolio {
  padding-bottom: 150px;
  background-image: url('../images/PORTFOLIO PAGE.jpg');
}

.hero-section.about {
  padding-bottom: 150px;
  background-image: url('../images/ABOUT-PAGE.jpg');
}

.hero-section.contact {
  padding-bottom: 150px;
  background-image: url('../images/CONTACT-PAGE.jpg');
}

.hero-section.project-page {
  padding-bottom: 150px;
  background-image: url('../images/PROJECT-PAGE.min.jpg');
}

.hero-section.property {
  height: 550px;
}

.navbar {
  position: relative;
  z-index: 999;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 20px;
  background-color: transparent;
}

.hero-divider {
  height: 1px;
  background-color: hsla(0, 0%, 100%, .2);
}

.hero-text {
  display: block;
  margin-top: 0px;
  text-align: center;
}

.hero-text.portfolio {
  margin-top: 0px;
}

.hero-text.main {
  overflow: visible;
  padding-top: 110px;
}

.upper {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Merriweather, serif;
  color: hsla(0, 0%, 95%, .65);
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
  text-transform: none;
}

.upper.title {
  margin-top: auto;
  margin-bottom: 10px;
  font-family: Merriweather, serif;
  color: #777;
  font-size: 21px;
  font-weight: 300;
  letter-spacing: 0px;
  text-transform: none;
}

.upper.heading {
  margin-top: 100px;
  margin-bottom: 20px;
  color: hsla(0, 0%, 95%, .6);
}

.upper.heading.stripe {
  margin-top: auto;
  margin-bottom: auto;
  color: #f2f2f2;
}

.section {
  padding-top: 110px;
  padding-bottom: 110px;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
  opacity: 1;
  -webkit-transition: border 700ms ease, opacity 700ms ease;
  transition: border 700ms ease, opacity 700ms ease;
}

.section.fact {
  background-image: -webkit-linear-gradient(270deg, transparent, rgba(37, 47, 55, .4) 36%, rgba(75, 84, 90, .51) 62%, hsla(0, 0%, 100%, 0)), url('../images/cityscape-jhb5.jpg');
  background-image: linear-gradient(180deg, transparent, rgba(37, 47, 55, .4) 36%, rgba(75, 84, 90, .51) 62%, hsla(0, 0%, 100%, 0)), url('../images/cityscape-jhb5.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
  background-attachment: scroll, fixed;
}

.section.fact.about {
  background-image: url('../images/Dollarphotoclubxx68542489.min.jpg');
}

.section.gray {
  background-color: #f5f5f5;
}

.section.portfolio {
  padding-bottom: 240px;
  background-image: -webkit-linear-gradient(270deg, transparent, hsla(0, 0%, 100%, .87)), url('../images/city.min.jpg');
  background-image: linear-gradient(180deg, transparent, hsla(0, 0%, 100%, .87)), url('../images/city.min.jpg');
  background-position: 0px 0px, 50% 100%;
  background-size: auto, cover;
}

.section.page {
  padding-top: 0px;
}

.texbar {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f05123;
}

.texbar:hover {
  background-color: #f05123;
  box-shadow: none;
}

.texbar-heading {
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 20px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.fact-title {
  margin-bottom: auto;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
}

.green-line {
  position: relative;
  display: block;
  width: 85px;
  height: 3px;
  margin: 15px auto;
  background-color: #f05123;
  text-align: center;
}

.green-line.team {
  margin: 15px auto;
}

.green-line.contact {
  position: static;
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 120px;
  float: none;
  text-align: left;
}

.green-line.header {
  width: 100px;
  margin-top: 40px;
  margin-bottom: 0px;
}

.column-fact {
  position: relative;
  text-align: center;
}

.fact-numbers {
  margin-bottom: auto;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
}

.icon {
  display: block;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 75px;
  float: left;
}

.row-2 {
  margin-top: 50px;
}

.service-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f2f2f2;
  background-image: -webkit-linear-gradient(270deg, rgba(37, 45, 51, .59), rgba(37, 45, 51, .59)), url('../images/cityscape-jhb5.jpg');
  background-image: linear-gradient(180deg, rgba(37, 45, 51, .59), rgba(37, 45, 51, .59)), url('../images/cityscape-jhb5.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-attachment: scroll, fixed;
}

.big-title {
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #252f37;
  font-size: 40px;
  font-weight: 700;
}

.center-paragraphs {
  margin-bottom: 0px;
  float: none;
  text-align: center;
  letter-spacing: 1px;
}

.center-h4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #4a4a4a;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
}

.center-h4.contact {
  display: block;
  margin: 0px auto;
  float: none;
  text-align: left;
  text-transform: uppercase;
}

.div-block {
  margin: auto 420px 60px;
}

.div-block.page-title {
  margin-bottom: 20px;
}

.overall-column {
  text-align: center;
}

.social-icon-block {
  width: 100px;
  height: 100px;
  float: none;
  border: 1px solid #adafb3;
  border-radius: 22px;
  -webkit-transition: border-color 1000ms ease, box-shadow 1000ms ease;
  transition: border-color 1000ms ease, box-shadow 1000ms ease;
}

.social-icon-block:hover {
  border-color: #00c2a2;
  box-shadow: 0 0 2px 1px hsla(220, 4%, 69%, .47);
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.social-icon-block.social {
  width: 35px;
  height: 35px;
  margin: 20px 5px;
  border-color: #828282;
  border-radius: 9px;
}

.social-icon-block.social:hover {
  border-color: #00c2a2;
}

.social-icon-block.social.fotter {
  border-color: hsla(0, 0%, 51%, .38);
  border-radius: 0px;
  background-color: hsla(0, 0%, 100%, 0);
}

.social-icon-block.social.fotter:hover {
  border-color: #00c2a2;
}

.social-icon-block.testimonials-image-block {
  width: 90px;
  height: 90px;
  margin-top: 8px;
  margin-right: 20px;
  margin-bottom: 70px;
  float: left;
  border-radius: 0px;
  text-align: center;
}

.service-title {
  color: #f05123;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  letter-spacing: 1px;
}

.portfolio-link-block {
  display: inline-block;
  width: 100%;
  height: 240px;
  border: 1px solid #ededed;
  border-radius: 0px;
  background-color: hsla(0, 0%, 100%, .72);
  box-shadow: none;
  -webkit-transition: box-shadow 1000ms ease;
  transition: box-shadow 1000ms ease;
}

.portfolio-link-block:hover {
  border-color: #00c2a2;
  box-shadow: 0 0 6px -1px #adafb3;
}

.portfolio-link-block.w--current {
  box-shadow: none;
}

.portfolio-image {
  width: 100%;
  margin-bottom: 20px;
  -webkit-transition: opacity 700ms ease;
  transition: opacity 700ms ease;
}

.portfolio-image:hover {
  opacity: 0.8;
}

.portfolio-row {
  margin-bottom: 20px;
  padding-right: 0px;
  padding-left: 0px;
}

.portfolio-title {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.portfolio-title.portolio-category {
  margin-left: 20px;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  font-family: Merriweather, serif;
  color: #adafb3;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: none;
}

.portfolio-title.portolio-category:hover {
  color: #00c2a2;
}

.portfolio-column {
  padding-right: 10px;
  padding-left: 10px;
}

.portfolio-containner {
  text-align: center;
}

.color-section {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f05123;
  opacity: 1;
}

.team-name {
  margin-bottom: 0px;
  font-size: 16px;
  text-align: center;
  letter-spacing: 1px;
}

.team-info {
  text-align: center;
}

.team-position {
  margin-top: 0px;
  font-family: Merriweather, serif;
  color: #adafb3;
  font-size: 16px;
  font-weight: 300;
  text-transform: none;
}

.team-column {
  text-align: center;
}

.service-icon {
  float: none;
}

.social-icon {
  width: 15px;
  margin: 8px 10px;
  opacity: 0.65;
  -webkit-transition: opacity 700ms ease;
  transition: opacity 700ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.team-containner {
  display: block;
  text-align: center;
}

.testimonials-title {
  margin-top: auto;
  margin-bottom: auto;
  float: left;
  font-family: Merriweather, serif;
  color: #00c2a2;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  text-transform: none;
}

.footer {
  margin-top: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(37, 47, 55, .05);
}

.copyright {
  margin-top: 29px;
  color: hsla(0, 0%, 51%, .74);
  font-weight: 300;
  text-align: left;
  text-transform: none;
}

.social-icon-column {
  text-align: right;
}

.nav-link {
  margin-top: 5px;
  margin-right: 2px;
  padding: 15px 22px;
  border: 1px solid transparent;
  border-radius: 0px;
  opacity: 1;
  -webkit-transition: color 500ms ease;
  transition: color 500ms ease;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover {
  border-style: solid;
  border-color: hsla(0, 0%, 100%, .5);
  border-radius: 0px;
  opacity: 1;
  color: #fff;
  letter-spacing: 1px;
}

.nav-link.w--current {
  position: static;
  display: inline-block;
  margin-top: 5px;
  padding-right: 22px;
  padding-left: 22px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0);
  border-radius: 0px;
  -webkit-transition-property: none;
  transition-property: none;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  text-decoration: none;
}

.nav-link.w--current:hover {
  margin-right: 2px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .46);
  border-radius: 0px;
  color: #fff;
  text-decoration: none;
}

.nav-link.w--current:active {
  border: 1px none transparent;
}

.nav-link.scroll-down {
  margin-right: auto;
  color: #fff;
}

.nav-link.scroll-down:hover {
  color: #4a4a4a;
}

.nav-link.scroll-down.w--current {
  color: #fff;
}

.nav-link.scroll-down.login {
  color: #f05123;
  font-weight: 700;
}

.nav-link.login {
  margin-top: 5px;
  border-width: 1px;
  border-radius: 0px;
  color: #f05123;
  font-weight: 700;
}

.nav-link.login:hover {
  border-color: hsla(0, 0%, 100%, .4);
}

.nav-link.dropdown.w--current {
  margin-top: 5px;
  padding-right: 22px;
  padding-left: 22px;
  border-width: 1px;
  border-radius: 0px;
  font-size: 16px;
}

.nav-link.dropdown.w--current:hover {
  margin-top: 6px;
  border-color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.hero-arrow-link-block {
  display: block;
  width: 40px;
  height: 58px;
  max-width: 100%;
  min-width: 0px;
  margin: 100px auto 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: none;
  border: 2px none #fff;
  border-radius: 9px;
  opacity: 1;
  -webkit-transition: border-color 700ms ease;
  transition: border-color 700ms ease;
  text-decoration: underline;
}

.hero-arrow-link-block:hover {
  border-style: none;
  border-color: #00c2a2;
  background-color: transparent;
  opacity: 1;
}

.hero-arrow-link-block.w--current {
  margin-bottom: 250px;
  padding-top: 15px;
  border-color: hsla(0, 0%, 100%, .49);
  opacity: 1;
  -webkit-transition: border-color 700ms ease, opacity 700ms ease;
  transition: border-color 700ms ease, opacity 700ms ease;
}

.hero-arrow-link-block.w--current:hover {
  border-color: #00c2a2;
  opacity: 1;
  -webkit-transition: none 0ms ease;
  transition: none 0ms ease;
}

.arrow {
  width: 20px;
  height: 20px;
  opacity: 1;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-size: 30px;
  text-decoration: none;
}

.arrow:hover {
  opacity: 1;
}

.arrow.slide {
  opacity: 0.6;
}

.arrow.slide:hover {
  opacity: 1;
}

.divider {
  margin-top: 80px;
}

.navbar-scroll {
  position: fixed;
  display: none;
  width: 100%;
  padding-top: 5px;
  background-color: #252f37;
  box-shadow: 0 1px 1px 0 #d4d8d9;
}

.testimonilas-clients {
  padding-top: 110px;
  padding-bottom: 110px;
  background-color: #f5f5f5;
}

.google-map {
  opacity: 0.5;
}

.google-map:hover {
  opacity: 1;
}

.client-link {
  width: 100%;
  height: 100%;
  -webkit-transition: none 500ms ease;
  transition: none 500ms ease;
}

.client-overlay {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 700ms ease;
  transition: opacity 700ms ease;
}

.client-overlay:hover {
  background-color: rgba(0, 0, 0, .52);
}

.client-logo._2 {
  -webkit-transition: none 500ms ease;
  transition: none 500ms ease;
}

.client-slider {
  height: auto;
}

.slider-responsive {
  width: 20%;
  background-image: url('../images/2e77bb3def8922f809c39bcd216ed5b2.min.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slider-responsive._2 {
  background-image: url('../images/981f0be49ade8457a1d305b78d73bc7f.jpg');
}

.slider-responsive._3 {
  background-image: url('../images/b8b12272926b9003c8989bf9533ce270.min.jpg');
}

.slider-responsive._4 {
  background-image: url('../images/6316cbc9434c9157cca0f72096ccae8c.jpg');
  background-repeat: repeat-y;
  opacity: 1;
}

.slider-responsive._5 {
  background-image: url('../images/6ffd6f99b739fc952d18594eef2cc9e2.min.jpg');
}

.slider-responsive._6 {
  background-image: url('../images/8b02738b90f13846b28546037004df46.jpg');
}

.slider-responsive._8 {
  background-image: url('../images/dfd0a9169f8b1392b1ed875192d3a39a (1).min.jpg');
}

.slider-responsive._9 {
  background-image: url('../images/26f3ea6a654eefd2f73c52f30c325efa.min.jpg');
}

.slider-responsive._10 {
  background-image: url('../images/6316cbc9434c9157cca0f72096ccae8c.jpg');
}

.hero-heading {
  color: #fff;
  font-size: 60px;
  line-height: 60px;
  font-weight: 300;
  text-align: center;
  text-shadow: none;
}

.text-field-one-third {
  width: 32%;
  height: 50px;
  margin-right: 18px;
  margin-bottom: 19px;
  float: left;
  border-radius: 7px;
  box-shadow: none;
  font-family: Lato, sans-serif;
  color: #969799;
  font-size: 14px;
  font-weight: 300;
}

.text-field-one-third:hover {
  border: 1px solid #00c2a2;
  box-shadow: 0 0 3px 0 #d4d8d9;
}

.text-field-one-third._3 {
  margin-right: 0px;
  border-radius: 7px;
  box-shadow: none;
  font-family: Lato, sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.text-field-one-third._3:hover {
  box-shadow: 0 0 3px 0 #d4d8d9;
}

.text-field {
  padding-bottom: 50px;
  border-radius: 7px;
  font-family: Lato, sans-serif;
  color: #969799;
  font-size: 14px;
  font-weight: 300;
}

.text-field:hover {
  border: 1px solid #00c2a2;
  box-shadow: 0 0 3px 0 #d4d8d9;
}

.success {
  margin-top: 10px;
  border-radius: 7px;
  background-color: #00c2a2;
}

.success-text {
  color: #fff;
  font-weight: 300;
}

.error-form {
  border-radius: 7px;
  background-color: #828282;
}

.error-text {
  color: #d4d8d9;
}

.slide-project {
  height: 450px;
  border-radius: 0px;
  box-shadow: none;
}

.project-tittle {
  margin-top: 0px;
}

.main-service-title {
  margin-top: 15px;
  color: #252f37;
  text-align: center;
}

.main-service-title._2 {
  margin-top: 20px;
  color: #252f37;
  font-size: 16px;
  line-height: 23px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 1px;
}

.main-service-title._2.footer {
  font-size: 14px;
}

.details {
  margin: 10px 0px;
  line-height: 38px;
  text-align: left;
}

.slide1 {
  border-radius: 0px;
  background-image: url('../images/1.min.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slide-2 {
  border-radius: 0px;
  background-image: url('../images/1 (1).jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.slider-mask {
  border-radius: 0px;
}

.text-hero {
  margin-bottom: 40px;
}

.content-row {
  margin-top: 50px;
}

.content-div {
  margin-right: 15px;
  margin-left: 15px;
}

.project-selector-row {
  margin-top: 50px;
  text-align: center;
}

.project-div {
  background-color: #fff;
}

.project-button {
  position: static;
  float: left;
}

.project-button.next {
  position: static;
  float: right;
}

.project-button.back {
  position: absolute;
  float: none;
  text-align: center;
  text-decoration: underline;
}

.arros {
  display: none;
}

.arrows {
  display: none;
}

.slide-nav {
  display: none;
}

.circle-block-icon-contact {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  float: left;
  border: 1px solid #adafb3;
  border-radius: 22px;
}

.navmenu.nav-pad {
  padding-top: 7px;
}

.upper-hero-heading {
  color: hsla(0, 0%, 95%, .6);
}

.form-wrapper {
  margin-top: 50px;
}

.about-section {
  padding-top: 50px;
  padding-bottom: 60px;
}

.exit-button {
  border: 2px solid #fff;
  border-radius: 10px;
  -webkit-transition: border-color 500ms ease, background-color 500ms ease;
  transition: border-color 500ms ease, background-color 500ms ease;
}

.exit-button:hover {
  border: 0px none transparent;
  background-color: #00c2a2;
}

.dropdown-link {
  position: static;
  display: inline-block;
  margin-top: -15px;
  padding: 15px 22px;
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, 0);
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}

.dropdown-link:hover {
  border-style: solid;
  border-width: 1px;
  border-color: hsla(0, 0%, 100%, .4);
}

.dropdown-link.w--open {
  padding-right: 20px;
  padding-left: 20px;
}

.dropdown-link.orange {
  color: #f05123;
}

.dropdown-box {
  padding-right: 20px;
  padding-left: 20px;
}

.drop-top {
  position: relative;
  padding-right: 3px;
  padding-left: 3px;
}

.drop-list.w--open {
  min-width: 200px;
  margin-top: -3px;
  padding: 5px;
  background-color: #252f37;
}

.drop-link {
  font-family: Lato, sans-serif;
  color: #888;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: none;
}

.drop-link:hover {
  background-color: hsla(0, 0%, 100%, .06);
  color: #fff;
}

.white-text {
  color: hsla(0, 0%, 100%, .77);
  font-size: 14px;
}

.footer-columns {
  padding-top: 30px;
  padding-bottom: 50px;
  border-top: 2px solid rgba(37, 47, 55, .08);
}

.footer-link {
  display: block;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Lato, sans-serif;
  color: #999;
  font-weight: 400;
  text-decoration: none;
}

.footer-container {
  border-top: 2px none #000;
}

.footer-text {
  font-family: Lato, sans-serif;
  color: #999;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
}

.normal-header {
  height: 91px;
  background-color: #252f37;
}

.logo-col {
  padding-top: 15px;
  padding-right: 20px;
  padding-left: 20px;
}

.logo-container {
  padding: 40px 40px 50px;
}

.logo-row {
  padding-top: 0px;
}

.footer-title {
  color: #252f37;
  font-size: 15px;
  font-weight: 700;
}

.white-centered {
  display: block;
  width: 84%;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  font-family: Lato, sans-serif;
  color: hsla(0, 0%, 100%, .9);
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1px;
}

.home-box-title {
  display: inline-block;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  border-bottom: 2px solid rgba(37, 47, 55, .14);
  font-family: Lato, sans-serif;
  color: #252f37;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}

.box-hover:hover {
  background-color: rgba(37, 47, 55, .11);
  color: #fff;
}

.image-hover:hover {
  opacity: 1;
}

.large-lightbox {
  border: 1px none #ccc;
}

.lightbox-thumb {
  position: static;
  overflow: visible;
  width: 80px;
  height: 80px;
  margin-top: 20px;
  margin-right: 14px;
  border: 1px solid #ccc;
}

.property-title {
  padding-bottom: 5px;
  color: #222;
  font-size: 24px;
  line-height: 29px;
  font-weight: 400;
  text-transform: uppercase;
}

.grey-line {
  border-left: 1px solid #ccc;
  border-right-style: none;
  border-right-color: #ccc;
}

.property-specs {
  color: #222;
  font-size: 15px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
}

.property-specs._2 {
  color: #f05123;
  font-size: 17px;
  font-weight: 700;
}

.property-address {
  padding-top: 14px;
  padding-left: 15px;
  color: #222;
  font-size: 16px;
  line-height: 14px;
  font-weight: 300;
}

.property-tabs {
  margin-top: 0px;
}

.property-tab-menu {
  border-bottom: 4px solid #ddd;
  background-color: transparent;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.property-tab-menu.w--current {
  border-style: none none solid;
  border-width: 1px 1px 4px;
  border-color: #000 #000 #f05123;
  background-color: #fff;
  color: #222;
  letter-spacing: 0px;
  text-transform: uppercase;
}

.tab-border {
  height: 42px;
  margin-top: 0px;
  margin-right: 15px;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  border-bottom: 4px solid #ddd;
}

.sidebar-box {
  padding-right: 10px;
  padding-bottom: 24px;
  padding-left: 10px;
  border: 1px solid #d5d5d5;
}

.sidebar-box.tall {
  padding: 30px 20px;
}

.sidebar-box.gradient {
  height: 246px;
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, #fff, #f5f5f5);
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #fff, #f5f5f5);
}

.button-blue {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.button-blue:hover {
  background-color: #2a75b6;
}

.grey-box-text1 {
  padding-top: 20px;
  padding-bottom: 7px;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 20px;
  line-height: 23px;
  font-weight: 400;
  text-align: center;
}

.grey-box-text1.orange1 {
  color: #f05123;
}

.padding-30 {
  height: 30px;
}

.padding-20 {
  height: 20px;
}

.padding {
  padding-top: 89px;
}

.price {
  font-family: Lato, sans-serif;
  color: #f05123;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.big-white {
  color: #fff;
  font-size: 60px;
  line-height: 63px;
  text-align: center;
}

.search-select {
  width: 100%;
  height: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 0px;
  background-color: hsla(0, 0%, 100%, .7);
  font-family: Lato, sans-serif;
  color: #fff;
  line-height: 14px;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
}

.search-submit {
  width: 100%;
  height: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Lato, sans-serif;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 1px;
}

.search-submit:hover {
  background-color: #2a73b3;
}

.search-input {
  height: 45px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #fff;
  background-color: #fff;
  font-family: Lato, sans-serif;
  color: #000;
  font-size: 14px;
  line-height: 14px;
}

.search-row {
  padding-right: 80px;
  padding-left: 80px;
}

.search-column {
  padding-right: 3px;
  padding-left: 3px;
}

.typing-text {
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 60px;
  font-weight: 700;
}

.typing-text-holder {
  display: block;
  width: 685px;
  margin-right: auto;
  margin-left: auto;
}

.sidebar-top {
  border-top: 1px solid #adafb3;
  border-bottom: 1px solid #adafb3;
}

.specs-holder {
  padding-top: 10px;
}

.property-title2 {
  margin-bottom: 10px;
  padding-top: 20px;
  color: #252f37;
  font-size: 18px;
  text-align: left;
}

.grey-divider {
  height: 1px;
  margin-right: 15px;
  margin-bottom: 20px;
  background-color: #ccc;
}

.prop-details {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #222;
  font-weight: 300;
}

.prop-row {
  width: 98%;
  border-bottom: 1px dotted #ddd;
}

.prop-column {
  padding-right: 20px;
}

.tab-content {
  color: #222;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
}

.prop-details-bold {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: Lato, sans-serif;
  color: #222;
}

.deal-box {
  margin-top: 7px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #f05123;
  font-family: Lato, sans-serif;
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
}

.prop-top {
  margin-bottom: 20px;
  padding-bottom: 0px;
}

.prop-icon-text {
  padding-top: 4px;
  font-family: Lato, sans-serif;
  font-size: 11px;
  font-weight: 400;
  text-align: center;
}

.prop-icon-text.active1 {
  color: #fff;
}

.prop-icon-text.inactive1 {
  color: #999;
}

.icon-box {
  width: 80px;
  height: 70px;
  margin-right: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  float: left;
  border: 1px solid #d5d5d5;
  cursor: pointer;
}

.icon-box:hover {
  background-image: -webkit-radial-gradient(circle farthest-corner at 50% 50%, #fff, #e5e5e5);
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #fff, #e5e5e5);
}

.icon-box.last {
  margin-right: 0px;
  border-color: #d5d5d5;
}

.icon-box.active {
  border-color: #f05123;
  background-color: #f05123;
  cursor: default;
}

.icon-box.active:hover {
  background-image: none;
}

.icon-box.inactive {
  border-color: #ddd;
  background-color: #f5f5f5;
}

.icon-box.inactive:hover {
  border-color: #bbb;
}

.prop-tools {
  padding-right: 1px;
}

.agent-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.prop-tools2 {
  margin-bottom: 21px;
}

.grey-box-text {
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.grey-box-text2 {
  font-family: Lato, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.agent-button {
  display: block;
  width: 200px;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f05123;
  font-family: Lato, sans-serif;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.agent-button:hover {
  background-color: #c92f03;
}

.breadcrumbs {
  height: 50px;
  margin-bottom: 40px;
  background-color: #f5f5f5;
}

.breadcrumb-holder {
  padding-top: 15px;
}

.breadcrumb-text {
  font-family: Lato, sans-serif;
  color: #aaa;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 1px;
}

.breadcrumb-text1 {
  width: 41px;
  float: left;
  font-family: Lato, sans-serif;
  color: #999;
  font-size: 13px;
  letter-spacing: 1px;
  text-decoration: none;
}

.property-details {
  margin-top: 30px;
}

.padding-10 {
  height: 10px;
}

.grey-divider2 {
  display: block;
  width: 200px;
  height: 1px;
  margin: 2px auto;
  background-color: #ccc;
}

.padding-15 {
  height: 15px;
}

.prop-sidebar2 {
  margin-top: 12px;
}

.sidebar-text {
  padding-right: 10px;
  padding-left: 10px;
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  text-align: center;
}

.form-label {
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 15px;
  font-weight: 400;
}

.form-col1 {
  padding-right: 20px;
}

.form-field {
  display: block;
  width: 95%;
  height: 49px;
  border: 1px solid #aaa;
  font-family: Lato, sans-serif;
  font-size: 15px;
  line-height: 14px;
  font-weight: 300;
}

.register-button {
  padding: 12px 25px;
  background-color: #f05123;
  font-family: Lato, sans-serif;
  font-weight: 700;
}

.register-padding {
  height: 41px;
}

.grey-box-text3 {
  padding-right: 10px;
  padding-left: 10px;
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 16px;
  text-align: center;
}

.grey-divider3 {
  height: 2px;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: #eee;
}

.form-desc {
  font-family: Lato, sans-serif;
  color: #222;
  font-size: 18px;
  line-height: 23px;
  font-weight: 300;
}

.title-h1 {
  display: inline-block;
  border-top: 1px none #f05123;
  border-bottom: 1px none #f05123;
  color: #f05123;
  font-size: 25px;
  line-height: 28px;
  font-weight: 700;
  letter-spacing: 1px;
}

.grey-divider4 {
  height: 1px;
  background-color: #eee;
}

.prop-doc-link {
  padding-left: 5px;
  font-family: Lato, sans-serif;
  color: #3898ec;
  text-align: left;
  text-decoration: none;
}

.prop-doc-row {
  padding-top: 10px;
  padding-bottom: 10px;
}

.padding-8 {
  height: 8px;
}

.padding-26 {
  height: 26px;
}

html.w-mod-js *[data-ix="display-none"] {
  display: none;
}

html.w-mod-js *[data-ix="upper-heading"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
}

html.w-mod-js *[data-ix="hero-headlng"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
}

html.w-mod-js *[data-ix="hero-divider"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
}

html.w-mod-js *[data-ix="button-hero-button"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
}

html.w-mod-js *[data-ix="hero-arrow-link"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
}

html.w-mod-js *[data-ix="hero-arrow-link-block-2"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
}

html.w-mod-js *[data-ix="hero-arrow-link-block-3"] {
  opacity: 0;
  -webkit-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  -ms-transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
  transform: translate(0px, 20px) scale(0.9500000000000002, 0.9500000000000002);
}

@media (max-width: 991px) {
  body {
    height: auto;
  }
  h1 {
    font-size: 60px;
    line-height: 74px;
    letter-spacing: 0px;
  }
  h3 {
    text-align: left;
  }
  p {
    margin-bottom: 0px;
    font-size: 14px;
  }
  .button {
    margin-bottom: 20px;
  }
  .button.textbar {
    font-size: 13px;
  }
  .button.textbar._2 {
    margin-bottom: 0px;
    box-shadow: none;
  }
  .hero-section {
    padding-bottom: 0px;
  }
  .navbar {
    padding-bottom: 0px;
  }
  .hero-text {
    margin-top: 0px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .section {
    padding-top: 110px;
    padding-bottom: 110px;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .section.fact {
    padding-top: 110px;
    padding-bottom: 110px;
    background-image: url('../images/hh5.jpg');
  }
  .texbar-heading {
    font-size: 17px;
  }
  .fact-title {
    margin-bottom: 0px;
    font-size: 30px;
  }
  .green-line {
    width: 10%;
    margin-top: 25px;
    margin-left: auto;
    text-align: center;
  }
  .green-line.team {
    margin-right: auto;
    margin-left: auto;
  }
  .green-line.contact {
    display: block;
    width: 15%;
    margin-right: 120px;
    margin-left: 120px;
    text-align: left;
  }
  .green-line.header {
    position: relative;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }
  .column-fact {
    margin-bottom: 50px;
    text-align: center;
  }
  .fact-numbers {
    margin-top: auto;
  }
  .icon {
    margin-right: 20px;
    margin-bottom: 20px;
    opacity: 1;
    color: #fff;
  }
  .icon:hover {
    opacity: 1;
  }
  .row-2 {
    margin-top: 0px;
  }
  .service-section {
    padding: 50px 150px;
  }
  .big-title {
    margin-bottom: 0px;
  }
  .center-paragraphs {
    font-size: 14px;
  }
  .menu-button {
    margin-top: 5px;
    padding: 15px;
    border-style: solid;
    border-width: 1px;
    border-color: hsla(0, 0%, 100%, .2);
    border-radius: 0px;
    -webkit-transition: border-color 700ms ease;
    transition: border-color 700ms ease;
  }
  .menu-button:hover {
    border-color: #00c2a2;
  }
  .menu-button.w--open {
    left: 0px;
    top: 0px;
    height: auto;
    padding-left: 18px;
    float: right;
    background-color: hsla(0, 0%, 100%, .09);
    text-align: left;
  }
  .div-block {
    margin-right: auto;
    margin-left: auto;
  }
  .overall-column {
    margin-bottom: 50px;
    padding-right: 20px;
    padding-left: 20px;
  }
  .social-icon-block.social {
    margin-right: 5px;
    margin-left: 5px;
  }
  .portfolio-link-block {
    height: 220px;
    box-shadow: none;
  }
  .portfolio-link-block.w--current {
    box-shadow: none;
  }
  .portfolio-image {
    height: auto;
  }
  .portfolio-title {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    letter-spacing: 0px;
  }
  .portfolio-title.portolio-category {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
    float: none;
    text-transform: none;
  }
  .color-section {
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: none;
  }
  .team-column {
    margin-bottom: 50px;
  }
  .copyright {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 30px;
  }
  .nav-link {
    margin: 10px auto;
    text-align: center;
  }
  .nav-link.w--current {
    margin: 10px auto;
    text-align: center;
  }
  .icon-menu {
    display: inline-block;
    color: #fff;
  }
  .hero-arrow-link-block {
    margin-bottom: 0px;
  }
  .navbar-scroll {
    display: none;
  }
  .client-logo {
    width: auto;
  }
  .slider-responsive {
    width: 33.3%;
  }
  .slider-responsive._9 {
    width: 33.3%;
  }
  .hero-heading {
    margin-bottom: 20px;
    font-size: 55px;
    text-shadow: none;
  }
  .text-field-one-third {
    width: 100%;
    box-shadow: none;
  }
  .text-field-one-third._3 {
    width: 100%;
    box-shadow: none;
  }
  .column-fact {
    margin-bottom: 50px;
  }
  .service-column {
    margin-bottom: 50px;
  }
  .project-tittle {
    margin-top: 30px;
  }
  .main-service-title {
    margin-bottom: 20px;
  }
  .details {
    position: relative;
    left: 0px;
    top: 0px;
    right: 0px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .navmenu {
    display: block;
    background-color: #02967e;
  }
  .white-centered {
    font-size: 15px;
  }
  .property-tab-menu {
    padding-left: 15px;
    font-size: 15px;
  }
  .property-tab-menu.w--current {
    font-size: 15px;
  }
  .button-blue {
    width: 136px;
    font-size: 13px;
  }
  .grey-box-text1 {
    font-size: 18px;
  }
  .price {
    font-size: 24px;
  }
  .big-white {
    font-size: 50px;
  }
  .search-select {
    font-size: 13px;
  }
  .search-submit {
    font-size: 13px;
  }
  .search-input {
    font-size: 11px;
  }
  .search-row {
    margin-top: 40px;
  }
  .prop-icon-text {
    display: none;
  }
  .icon-box {
    width: 53px;
    height: 50px;
    margin-right: 4px;
    padding-bottom: 8px;
  }
  .agent-img {
    max-width: 93%;
  }
  .grey-box-text {
    font-size: 14px;
    line-height: 18px;
  }
  .grey-box-text2 {
    font-size: 13px;
    line-height: 15px;
  }
  .agent-button {
    width: 136px;
    font-size: 13px;
  }
  .grey-divider2 {
    width: 146px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 60px;
  }
  h2 {
    font-size: 24px;
  }
  h4 {
    text-align: center;
  }
  .button.submit {
    width: 95%;
    margin-right: 15px;
    margin-left: 15px;
  }
  .hero-section {
    background-position: -1px 47%;
    background-size: auto;
  }
  .hero-text.main {
    padding-top: 40px;
  }
  .section {
    padding-bottom: 40px;
  }
  .section.fact {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .texbar {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .texbar-heading {
    margin-bottom: 30px;
  }
  .fact-title {
    margin-bottom: 0px;
  }
  .green-line {
    margin-right: 250px;
    margin-left: 250px;
  }
  .green-line.team {
    margin-right: auto;
    margin-left: auto;
  }
  .green-line.contact {
    text-align: left;
  }
  .green-line.header {
    margin-right: auto;
    margin-left: auto;
  }
  .column-fact {
    margin-bottom: 30px;
    text-align: center;
  }
  .fact-numbers {
    margin-top: auto;
  }
  .icon {
    margin-bottom: 40px;
  }
  .row-2 {
    margin-top: auto;
  }
  .service-section {
    padding: 30px 100px;
  }
  .big-title {
    margin-bottom: 0px;
    font-size: 35px;
  }
  .row {
    text-align: center;
  }
  .menu-button {
    margin-right: 15px;
  }
  .portfolio-link-block {
    height: 180px;
    box-shadow: none;
  }
  .portfolio-link-block.w--current {
    box-shadow: none;
  }
  .portfolio-title.portolio-category {
    display: inline-block;
  }
  .color-section {
    background-position: 80% 46%;
    background-size: auto;
  }
  .copyright {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    float: none;
    text-align: center;
  }
  .social-icon-column {
    position: relative;
    text-align: center;
  }
  .nav-link {
    margin-right: 10px;
    margin-left: 10px;
  }
  .nav-link.w--current {
    margin-right: 10px;
    margin-left: 10px;
  }
  .slider-responsive {
    width: 33.3%;
  }
  .slider-responsive._2 {
    width: 33.3%;
  }
  .slider-responsive._3 {
    width: 33.3%;
  }
  .slider-responsive._4 {
    width: 33.3%;
  }
  .slider-responsive._5 {
    width: 33.3%;
  }
  .slider-responsive._6 {
    width: 33.3%;
  }
  .slider-responsive._8 {
    width: 33.3%;
  }
  .slider-responsive._7 {
    width: 33.3%;
  }
  .slider-responsive._10 {
    width: 33.3%;
  }
  .hero-heading {
    margin-bottom: 5px;
    font-size: 45px;
    text-shadow: none;
  }
  .text-field-one-third {
    width: 95%;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: none;
    color: #969799;
  }
  .text-field-one-third._3 {
    width: 95%;
    box-shadow: none;
  }
  .text-field {
    width: 95%;
    margin-right: 15px;
    margin-left: 15px;
  }
  .slide-project {
    box-shadow: none;
  }
  .details {
    margin-right: 0px;
    margin-left: 0px;
  }
  .testimonilas {
    margin-top: 30px;
  }
  .project-div {
    margin-right: 15px;
    margin-left: 15px;
  }
  .project-button {
    position: static;
  }
  .column-features {
    margin-bottom: 40px;
    padding-right: 50px;
    padding-left: 50px;
  }
  .footer-columns {
    padding-right: 100px;
    padding-left: 100px;
  }
  .logo-col {
    width: 50%;
    margin-top: 30px;
  }
  .box-hover {
    width: 100%;
    text-align: center;
  }
  .property-title {
    text-align: center;
  }
  .property-address {
    text-align: center;
  }
  .button-blue {
    width: 200px;
    font-size: 14px;
  }
  .grey-box-text1 {
    font-size: 20px;
  }
  .price {
    font-size: 30px;
    line-height: 32px;
  }
  .big-white {
    font-size: 45px;
  }
  .search-row {
    padding-right: 30px;
    padding-left: 30px;
  }
  .typing-text {
    font-size: 45px;
  }
  .typing-text-holder {
    width: 90%;
  }
  .prop-icon-text {
    display: block;
  }
  .icon-box {
    width: 80px;
    height: 70px;
    margin-right: 15px;
  }
  .prop-tools2 {
    display: block;
    width: 272px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
  }
  .grey-box-text {
    font-size: 18px;
  }
  .grey-box-text2 {
    margin-bottom: 5px;
    font-size: 16px;
  }
  .agent-button {
    width: 200px;
  }
  .grey-divider2 {
    width: 250px;
  }
}

@media (max-width: 479px) {
  h1 {
    font-size: 35px;
    line-height: 48px;
  }
  h2 {
    margin-bottom: 50px;
  }
  p {
    font-size: 13px;
    letter-spacing: 0px;
  }
  .button.submit {
    width: 90%;
    margin-right: 15px;
    margin-left: 15px;
  }
  .hero-section {
    height: 540px;
  }
  .hero-text.main {
    padding-bottom: 40px;
  }
  .upper {
    margin-bottom: auto;
    font-size: 16px;
  }
  .upper.title {
    font-size: 14px;
  }
  .upper.heading {
    margin-bottom: 0px;
  }
  .upper.heading.stripe {
    line-height: 19px;
  }
  .section {
    padding-top: 0px;
    padding-bottom: 30px;
  }
  .green-line {
    margin-right: auto;
    margin-left: auto;
  }
  .green-line.team {
    margin-right: auto;
    margin-left: auto;
  }
  .green-line.header {
    margin-top: 20px;
  }
  .icon {
    margin-bottom: 65px;
  }
  .service-section {
    padding: 50px 30px;
  }
  .big-title {
    margin-bottom: 0px;
    font-size: 34px;
    line-height: 38px;
  }
  .portfolio-link-block {
    height: auto;
    margin-bottom: 20px;
    padding-bottom: 15px;
    box-shadow: none;
  }
  .portfolio-link-block.w--current {
    height: auto;
    box-shadow: none;
  }
  .portfolio-image {
    height: auto;
  }
  .portfolio-row {
    margin-bottom: 0px;
  }
  .portfolio-title {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
  }
  .portfolio-title.portolio-category {
    display: inline-block;
    margin-right: 20px;
    margin-left: 20px;
  }
  .portfolio-column {
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
  }
  .slider-responsive {
    width: 100%;
  }
  .slider-responsive._2 {
    width: 100%;
  }
  .slider-responsive._3 {
    width: 100%;
  }
  .slider-responsive._4 {
    width: 100%;
  }
  .slider-responsive._5 {
    width: 100%;
  }
  .slider-responsive._6 {
    width: 100%;
  }
  .slider-responsive._8 {
    width: 100%;
  }
  .slider-responsive._7 {
    width: 100%;
  }
  .slider-responsive._9 {
    width: 100%;
  }
  .slider-responsive._10 {
    width: 100%;
  }
  .hero-heading {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 27px;
    text-shadow: none;
  }
  .text-field-one-third {
    width: 90%;
    margin-right: 15px;
    margin-left: 15px;
    box-shadow: none;
  }
  .text-field-one-third._3 {
    width: 90%;
    box-shadow: none;
  }
  .text-field {
    width: 90%;
    margin-right: 15px;
    margin-left: 15px;
    text-align: left;
  }
  .details {
    margin-right: 0px;
    margin-left: 0px;
  }
  .project-button.back {
    display: inline-block;
  }
  .arros {
    display: none;
  }
  .arrows {
    display: none;
  }
  .slide-nav {
    display: none;
  }
  .column-features {
    padding-top: 30px;
  }
  .white-text {
    width: 175px;
    float: right;
    text-indent: 0px;
  }
  .footer-columns {
    padding-right: 30px;
    padding-left: 30px;
  }
  .white-centered {
    font-size: 14px;
  }
  .property-title {
    display: inline-block;
  }
  .big-white {
    padding-top: 10px;
    line-height: 47px;
  }
  .search-submit {
    margin-bottom: 30px;
  }
  .search-row {
    padding-right: 15px;
    padding-left: 15px;
  }
  .typing-text {
    font-size: 25px;
    line-height: 28px;
  }
  .icon-box {
    width: 80px;
    height: 70px;
  }
  .icon-box.last {
    width: 80px;
    height: 70px;
  }
  .prop-tools2 {
    width: 272px;
  }
  .breadcrumbs {
    height: 70px;
  }
  .breadcrumb-holder {
    line-height: 14px;
    text-align: center;
  }
  .breadcrumb-text {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    letter-spacing: 0px;
  }
  .breadcrumb-text1 {
    position: static;
    display: inline-block;
    width: auto;
    float: none;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0px;
  }
}

