.ff0{font-family:sans-serif;visibility:hidden;}
.number-font{font-family:sans-serif;line-height:0.909000;font-style:normal;font-weight:bold;visibility:visible;font-size: 14px}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.909000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.940000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.940000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws2{word-spacing:-2.003195px;}
.ws3{word-spacing:-2.001774px;}
.ws1{word-spacing:-1.776000px;}
.ws0{word-spacing:0.000000px;}
._1{margin-left:-3.576672px;}
._2{margin-left:-1.430527px;}
._0{width:1.780800px;}
._6{width:299.865834px;}
._5{width:424.944000px;}
._4{width:500.832000px;}
._7{width:824.080053px;}
._3{width:1367.319846px;}
.fc3{color:rgb(255,255,255);}
.fc2{color:rgb(35,31,32);}
.fc1{color:rgb(238,50,41);}
.fc0{color:rgb(36,43,50);}
.fs7{font-size:39.598400px;}
.fs2{font-size:39.626800px;}
.fs0{font-size:48.000000px;}
.fs5{font-size:54.102000px;}
.fs3{font-size:54.140400px;}
.fs6{font-size:64.984400px;}
.fs1{font-size:65.030400px;}
.fs4{font-size:75.854400px;}
.fs8{font-size:42px;}
.y0{bottom:0.000000px;}
.yb{bottom:66.955980px;}
.y88{bottom:76.094700px;}
.ya{bottom:78.844020px;}
.y72{bottom:88.585685px;}
.y87{bottom:89.594700px;}
.y55{bottom:89.634800px;}
.y54{bottom:89.635300px;}
.y9{bottom:90.732060px;}
.y8{bottom:102.620100px;}
.y7{bottom:128.162100px;}
.y75{bottom:131.475045px;}
.y56{bottom:132.886152px;}
.y52{bottom:132.894976px;}
.y71{bottom:132.895223px;}
.y86{bottom:141.215840px;}
.y85{bottom:153.095360px;}
.y84{bottom:164.974880px;}
.y2b{bottom:173.228500px;}
.y2f{bottom:175.040917px;}
.y65{bottom:175.048549px;}
.y51{bottom:175.053960px;}
.y70{bottom:175.054206px;}
.y83{bottom:176.854400px;}
.y82{bottom:188.733920px;}
.y81{bottom:200.613440px;}
.y29{bottom:204.142260px;}
.y2e{bottom:211.072849px;}
.y27{bottom:211.079100px;}
.y80{bottom:212.492960px;}
.y28{bottom:216.030300px;}
.y6f{bottom:219.526050px;}
.y57{bottom:219.527452px;}
.y50{bottom:220.107400px;}
.y77{bottom:220.107647px;}
.y7f{bottom:224.372480px;}
.y7e{bottom:236.252000px;}
.y1a{bottom:247.625660px;}
.y2d{bottom:254.557332px;}
.y18{bottom:254.561500px;}
.y19{bottom:259.513700px;}
.y58{bottom:262.422418px;}
.y6e{bottom:262.428936px;}
.y7d{bottom:262.777300px;}
.y53{bottom:263.361949px;}
.y76{bottom:263.362196px;}
.y17{bottom:290.688160px;}
.y15{bottom:297.613191px;}
.y6d{bottom:298.636700px;}
.y2c{bottom:299.773078px;}
.y16{bottom:302.576200px;}
.y7c{bottom:324.101600px;}
.y26{bottom:332.355160px;}
.y24{bottom:339.292000px;}
.y14{bottom:340.560063px;}
.y4f{bottom:342.152060px;}
.y25{bottom:344.243200px;}
.y4e{bottom:354.031580px;}
.y4d{bottom:365.911100px;}
.y78{bottom:367.205100px;}
.y23{bottom:374.901060px;}
.y13{bottom:381.828583px;}
.y21{bottom:381.837900px;}
.y22{bottom:386.789100px;}
.y4c{bottom:391.436500px;}
.y89{bottom:407.155300px;}
.y8b{bottom:407.585938px;}
.y20{bottom:417.465460px;}
.y1e{bottom:424.402300px;}
.y12{bottom:426.873396px;}
.y1f{bottom:429.353500px;}
.y6c{bottom:434.773400px;}
.y92{bottom:441.103737px;}
.y91{bottom:443.470700px;}
.y59{bottom:459.681848px;}
.y6b{bottom:459.853123px;}
.y1d{bottom:460.528960px;}
.y67{bottom:465.736516px;}
.y74{bottom:465.744252px;}
.y1b{bottom:467.465800px;}
.y11{bottom:469.522496px;}
.y5a{bottom:471.115886px;}
.y6a{bottom:471.732643px;}
.y1c{bottom:472.417000px;}
.y90{bottom:484.153794px;}
.y8e{bottom:486.520756px;}
.y5b{bottom:502.170931px;}
.y69{bottom:502.985680px;}
.yf{bottom:505.343360px;}
.y66{bottom:507.895500px;}
.y73{bottom:507.903236px;}
.yd{bottom:512.280300px;}
.y5c{bottom:513.604969px;}
.y10{bottom:514.756800px;}
.y68{bottom:514.865200px;}
.y47{bottom:516.512381px;}
.ye{bottom:517.231400px;}
.y46{bottom:521.084000px;}
.y8f{bottom:528.233398px;}
.y8d{bottom:530.600361px;}
.y5d{bottom:544.897605px;}
.y45{bottom:546.164362px;}
.yc{bottom:550.622100px;}
.y4b{bottom:550.623692px;}
.y3e{bottom:552.049276px;}
.y5e{bottom:556.331643px;}
.y44{bottom:558.043882px;}
.y93{bottom:569.027916px;}
.y8c{bottom:574.679965px;}
.y5f{bottom:588.485544px;}
.y43{bottom:589.296919px;}
.y4a{bottom:594.202853px;}
.y3d{bottom:594.208260px;}
.y60{bottom:599.919582px;}
.y42{bottom:601.176439px;}
.y8a{bottom:606.735400px;}
.y6{bottom:620.723700px;}
.y36{bottom:623.032600px;}
.y61{bottom:631.825992px;}
.y41{bottom:632.330480px;}
.y5{bottom:637.199700px;}
.y35{bottom:638.824600px;}
.y49{bottom:639.256294px;}
.y3c{bottom:639.261700px;}
.y62{bottom:643.260030px;}
.y40{bottom:644.210000px;}
.y7b{bottom:651.203480px;}
.y4{bottom:653.944500px;}
.y34{bottom:655.336600px;}
.y7a{bottom:663.083000px;}
.y3{bottom:669.376500px;}
.y33{bottom:671.080600px;}
.y63{bottom:674.859554px;}
.y3b{bottom:675.362680px;}
.y48{bottom:681.577583px;}
.y3f{bottom:682.516249px;}
.y64{bottom:686.293592px;}
.y3a{bottom:687.242200px;}
.y32{bottom:687.928600px;}
.y79{bottom:688.609400px;}
.y2{bottom:702.544500px;}
.y31{bottom:705.004600px;}
.y1{bottom:719.416500px;}
.y30{bottom:720.664600px;}
.y94{bottom:736.166000px;}
.y95{bottom:736.598816px;}
.y39{bottom:746.657580px;}
.y38{bottom:758.537100px;}
.y97{bottom:771.585611px;}
.y96{bottom:772.640600px;}
.y37{bottom:784.062500px;}
.y2a{bottom:792.246100px;}
.hb{height:28.946430px;}
.h4{height:28.967191px;}
.h2{height:34.944000px;}
.h8{height:35.088000px;}
.h7{height:39.386256px;}
.h5{height:39.414211px;}
.ha{height:47.308643px;}
.h3{height:47.342131px;}
.h6{height:55.222003px;}
.h9{height:723.000000px;}
.h1{height:809.500000px;}
.h0{height:841.890000px;}
.hc{height:842.000000px;}
.w2{width:594.500000px;}
.w1{width:595.000000px;}
.w0{width:595.280000px;}
.x0{left:0.000000px;}
.x2{left:34.533700px;}
.x3{left:40.051800px;}
.x1{left:42.210900px;}
.x10{left:125.295300px;}
.xa{left:135.774400px;}
.x4{left:153.418900px;}
.x7{left:155.578600px;}
.xd{left:192.733009px;}
.xe{left:408.496600px;}
.x11{left:412.910200px;}
.xf{left:425.444051px;}
.x12{left:428.038739px;}
.x6{left:490.286860px;}
.xc{left:496.768661px;}
.x9{left:499.357354px;}
.xb{left:500.691056px;}
.x8{left:502.360015px;}
.x5{left:505.148400px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws2{word-spacing:-2.670926pt;}
.ws3{word-spacing:-2.669032pt;}
.ws1{word-spacing:-2.368000pt;}
.ws0{word-spacing:0.000000pt;}
._1{margin-left:-4.768896pt;}
._2{margin-left:-1.907370pt;}
._0{width:2.374400pt;}
._6{width:399.821112pt;}
._5{width:566.592000pt;}
._4{width:667.776000pt;}
._7{width:1098.773404pt;}
._3{width:1823.093128pt;}
.fs7{font-size:52.797867pt;}
.fs2{font-size:52.835733pt;}
.fs0{font-size:64.000000pt;}
.fs5{font-size:72.136000pt;}
.fs3{font-size:72.187200pt;}
.fs6{font-size:86.645867pt;}
.fs1{font-size:86.707200pt;}
.fs4{font-size:101.139200pt;}
.y0{bottom:0.000000pt;}
.yb{bottom:89.274640pt;}
.y88{bottom:101.459600pt;}
.ya{bottom:105.125360pt;}
.y72{bottom:118.114247pt;}
.y87{bottom:119.459600pt;}
.y55{bottom:119.513067pt;}
.y54{bottom:119.513733pt;}
.y9{bottom:120.976080pt;}
.y8{bottom:136.826800pt;}
.y7{bottom:170.882800pt;}
.y75{bottom:175.300061pt;}
.y56{bottom:177.181537pt;}
.y52{bottom:177.193301pt;}
.y71{bottom:177.193631pt;}
.y86{bottom:188.287787pt;}
.y85{bottom:204.127147pt;}
.y84{bottom:219.966507pt;}
.y2b{bottom:230.971333pt;}
.y2f{bottom:233.387889pt;}
.y65{bottom:233.398065pt;}
.y51{bottom:233.405279pt;}
.y70{bottom:233.405609pt;}
.y83{bottom:235.805867pt;}
.y82{bottom:251.645227pt;}
.y81{bottom:267.484587pt;}
.y29{bottom:272.189680pt;}
.y2e{bottom:281.430465pt;}
.y27{bottom:281.438800pt;}
.y80{bottom:283.323947pt;}
.y28{bottom:288.040400pt;}
.y6f{bottom:292.701401pt;}
.y57{bottom:292.703269pt;}
.y50{bottom:293.476533pt;}
.y77{bottom:293.476863pt;}
.y7f{bottom:299.163307pt;}
.y7e{bottom:315.002667pt;}
.y1a{bottom:330.167547pt;}
.y2d{bottom:339.409775pt;}
.y18{bottom:339.415333pt;}
.y19{bottom:346.018267pt;}
.y58{bottom:349.896558pt;}
.y6e{bottom:349.905249pt;}
.y7d{bottom:350.369733pt;}
.y53{bottom:351.149265pt;}
.y76{bottom:351.149595pt;}
.y17{bottom:387.584213pt;}
.y15{bottom:396.817588pt;}
.y6d{bottom:398.182267pt;}
.y2c{bottom:399.697437pt;}
.y16{bottom:403.434933pt;}
.y7c{bottom:432.135467pt;}
.y26{bottom:443.140213pt;}
.y24{bottom:452.389333pt;}
.y14{bottom:454.080084pt;}
.y4f{bottom:456.202747pt;}
.y25{bottom:458.990933pt;}
.y4e{bottom:472.042107pt;}
.y4d{bottom:487.881467pt;}
.y78{bottom:489.606800pt;}
.y23{bottom:499.868080pt;}
.y13{bottom:509.104777pt;}
.y21{bottom:509.117200pt;}
.y22{bottom:515.718800pt;}
.y4c{bottom:521.915333pt;}
.y89{bottom:542.873733pt;}
.y8b{bottom:543.447917pt;}
.y20{bottom:556.620613pt;}
.y1e{bottom:565.869733pt;}
.y12{bottom:569.164528pt;}
.y1f{bottom:572.471333pt;}
.y6c{bottom:579.697867pt;}
.y92{bottom:588.138317pt;}
.y91{bottom:591.294267pt;}
.y59{bottom:612.909131pt;}
.y6b{bottom:613.137497pt;}
.y1d{bottom:614.038613pt;}
.y67{bottom:620.982022pt;}
.y74{bottom:620.992337pt;}
.y1b{bottom:623.287733pt;}
.y11{bottom:626.029994pt;}
.y5a{bottom:628.154515pt;}
.y6a{bottom:628.976857pt;}
.y1c{bottom:629.889333pt;}
.y90{bottom:645.538391pt;}
.y8e{bottom:648.694341pt;}
.y5b{bottom:669.561242pt;}
.y69{bottom:670.647573pt;}
.yf{bottom:673.791147pt;}
.y66{bottom:677.194000pt;}
.y73{bottom:677.204315pt;}
.yd{bottom:683.040400pt;}
.y5c{bottom:684.806626pt;}
.y10{bottom:686.342400pt;}
.y68{bottom:686.486933pt;}
.y47{bottom:688.683175pt;}
.ye{bottom:689.641867pt;}
.y46{bottom:694.778667pt;}
.y8f{bottom:704.311197pt;}
.y8d{bottom:707.467147pt;}
.y5d{bottom:726.530140pt;}
.y45{bottom:728.219149pt;}
.yc{bottom:734.162800pt;}
.y4b{bottom:734.164923pt;}
.y3e{bottom:736.065701pt;}
.y5e{bottom:741.775524pt;}
.y44{bottom:744.058509pt;}
.y93{bottom:758.703889pt;}
.y8c{bottom:766.239953pt;}
.y5f{bottom:784.647391pt;}
.y43{bottom:785.729225pt;}
.y4a{bottom:792.270471pt;}
.y3d{bottom:792.277679pt;}
.y60{bottom:799.892775pt;}
.y42{bottom:801.568585pt;}
.y8a{bottom:808.980533pt;}
.y6{bottom:827.631600pt;}
.y36{bottom:830.710133pt;}
.y61{bottom:842.434657pt;}
.y41{bottom:843.107307pt;}
.y5{bottom:849.599600pt;}
.y35{bottom:851.766133pt;}
.y49{bottom:852.341725pt;}
.y3c{bottom:852.348933pt;}
.y62{bottom:857.680041pt;}
.y40{bottom:858.946667pt;}
.y7b{bottom:868.271307pt;}
.y4{bottom:871.926000pt;}
.y34{bottom:873.782133pt;}
.y7a{bottom:884.110667pt;}
.y3{bottom:892.502000pt;}
.y33{bottom:894.774133pt;}
.y63{bottom:899.812738pt;}
.y3b{bottom:900.483573pt;}
.y48{bottom:908.770111pt;}
.y3f{bottom:910.021665pt;}
.y64{bottom:915.058122pt;}
.y3a{bottom:916.322933pt;}
.y32{bottom:917.238133pt;}
.y79{bottom:918.145867pt;}
.y2{bottom:936.726000pt;}
.y31{bottom:940.006133pt;}
.y1{bottom:959.222000pt;}
.y30{bottom:960.886133pt;}
.y94{bottom:981.554667pt;}
.y95{bottom:982.131755pt;}
.y39{bottom:995.543440pt;}
.y38{bottom:1011.382800pt;}
.y97{bottom:1028.780815pt;}
.y96{bottom:1030.187467pt;}
.y37{bottom:1045.416667pt;}
.y2a{bottom:1056.328133pt;}
.hb{height:38.595241pt;}
.h4{height:38.622921pt;}
.h2{height:46.592000pt;}
.h8{height:46.784000pt;}
.h7{height:52.515008pt;}
.h5{height:52.552282pt;}
.ha{height:63.078191pt;}
.h3{height:63.122842pt;}
.h6{height:73.629338pt;}
.h9{height:964.000000pt;}
.h1{height:1079.333333pt;}
.h0{height:1122.520000pt;}
.hc{height:1122.666667pt;}
.w2{width:792.666667pt;}
.w1{width:793.333333pt;}
.w0{width:793.706667pt;}
.x0{left:0.000000pt;}
.x2{left:46.044933pt;}
.x3{left:53.402400pt;}
.x1{left:56.281200pt;}
.x10{left:167.060400pt;}
.xa{left:181.032533pt;}
.x4{left:204.558533pt;}
.x7{left:207.438133pt;}
.xd{left:256.977346pt;}
.xe{left:544.662133pt;}
.x11{left:550.546933pt;}
.xf{left:567.258735pt;}
.x12{left:570.718319pt;}
.x6{left:653.715814pt;}
.xc{left:662.358214pt;}
.x9{left:665.809806pt;}
.xb{left:667.588074pt;}
.x8{left:669.813354pt;}
.x5{left:673.531200pt;}

}
